body {
  padding: 1rem;
}


.text {
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: .5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.gallery {
  max-width: 48rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(4rem, 1fr));
  gap: 2rem;

  > img {
    width: 100%;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 .25rem 1rem rgba(0, 0 , 0, .5);
    }
  }
}
