h1,
h2,
p {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2em;
}

.container {
  max-width: 800px;
  padding: 2rem;
  margin-inline: auto;
}

#loading {
  position: fixed;
  inset: 0;
  background-color: rgba(238, 221, 136, 1);
  backdrop-filter: blur(10px);
  display: grid;
  place-content: center;
}
