#loading {
  position: fixed;
  inset: 0;
  background: rgba(238, 221, 136, 1);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

.container {
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}

h1,
h2,
p {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2em;
}
