.grid {
  max-width: 1020px;
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.img-item {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  filter: blur(20px);
}
