body {
  padding: 1rem;
  text-align: center;
}

h1,
p {
  margin-bottom: 2rem;
}

#open,
#close {
  padding: 1rem 2rem;
  border: 3px solid #eb8;
  border-radius: 0.5rem;
  background: #ed8;
  cursor: pointer;
}

#mask {
  position: fixed;
  inset: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}

#modal {
  position: absolute;
  inset: 10rem 0 auto;
  z-index: 9999;
  max-width: 36rem;
  padding: 2rem;
  margin: auto;
  border-radius: 0.5rem;
  background: #fff;
  opacity: 0;
  visibility: hidden;
}
